body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "MOON"
}

@font-face {
    font-family: "Hiragino";
    src: local("Hiragino"), url(../media/hiragino.7af007fc.otf) format("truetype")
}

.example-enter {
    -webkit-animation: slidein;
    animation: slidein;
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

@-webkit-keyframes slidein {
    0% {
        padding-top: 500px
    }

    to {
        padding-top: 0
    }
}

@keyframes slidein {
    0% {
        padding-top: 500px
    }

    to {
        padding-top: 0
    }
}

.example-leave {
    -webkit-animation: slideout;
    animation: slideout;
    -webkit-animation-duration: .1s;
    animation-duration: .1s
}

@-webkit-keyframes slideout {
    0% {
        padding-top: 0
    }

    to {
        padding-top: 500px
    }
}

@keyframes slideout {
    0% {
        padding-top: 0
    }

    to {
        padding-top: 500px
    }
}

.transitionScreen {
    height: 0;
    width: "100%";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #431074;
    transition: .4s ease-in;
    z-index: 1
}

.transitionScreenTop {
    background-color: #431074;
    z-index: 2
}

.transitionScreenContent,
.transitionScreenTop {
    height: 0;
    width: "100%";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: .4s ease-out
}

.aboutSection {
    padding-top: 40px;
    align-items: flex-start;
    justify-items: center;
    display: grid;
    padding-left: calc(100px + 2.3872vw);
    padding-right: calc(100px + 2.3872vw)
}

.aboutContent {
    justify-items: center;
    grid-template-rows: 20% 20% 20% 20% 20%
}

.aboutContent,
.aboutContent2 {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% minmax(400px, 1fr);
    padding-left: calc(200px + 2.3872vw);
    padding-right: calc(200px + 2.3872vw)
}

.aboutContent2 {
    grid-template-rows: 100px 100px 100px 100px 100px
}

.aboutCategory {
    display: grid;
    justify-content: center;
    grid-row-start: 6
}

.aboutMe {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 40px 90px 90px 50px
}

.meAndMagoo {
    display: grid;
    padding-top: 20px;
    padding-bottom: 90px;
    padding-left: 90px
}

.graduation2,
.job2,
.muscle2,
.tool2 {
    width: 15vw;
    height: 15vw;
    padding: 30px;
    display: grid
}

.graduation,
.job,
.muscle,
.tool {
    width: 10vw;
    height: 10vw;
    padding: 30px;
    display: grid
}

body {
    font-family: "Hiragino" !important;
    height: 100%
}

.purp {
    opacity: 30%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 600%;
    height: 500%
}

.col-4 {
    text-align: center
}

.contactContent {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    padding-left: calc(60px + 2.3872vw);
    padding-right: calc(30.579px + 2.3872vw);
    padding-top: calc(50px + 9.5488vw)
}

.container {
    display: grid;
    grid-template-columns: 44.3125px, 44.3125px, 44.3125px;
    grid-template-rows: 277.406px 466.984px 465.031px 465.031px 465.031px
}

.contactP1 {
    grid-column: 3/span 4;
    grid-row: 6
}

.eastwestImg {
    width: 200px;
    height: 200px
}

.footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-shrink: 1;
    min-height: 100%;
    margin-bottom: -100px;
    border-bottom: 15px solid grey
}

.homeHeader1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    position: relative
}

.homeHeader2 {
    display: grid;
    grid-column-start: 2;
    z-index: 1
}

.homeContact,
.homeHeader2 {
    grid-column-end: 3;
    grid-row-start: 3
}

.homeContact {
    display: inline-block;
    display: grid
}

.headerMain {
    padding: calc(122.32px + 9.5488vw) calc(30.579px + 2.3872vw) calc(15.29px + 1.1936vw) calc(60px + 2.3872vw);
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 30px 30px 30px 30px 30px;
    justify-items: start
}

.headerText {
    font-size: 50px
}

.homeSubHeader {
    font-family: "Hiragino";
    background-color: #fff;
    border-bottom: 20px;
    font-size: calc(8px + 1vmin);
    top: -10px
}

.homeSubHeader,
.intro {
    text-align: center;
    color: #707070
}

.intro {
    font-family: "Hiragino" !important;
    margin-top: 250px;
    font-size: calc(40px + 2vmin);
    margin-bottom: 30px
}

.introButton {
    font-family: "Hiragino";
    font-size: calc(10px + 2vmin);
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto
}

.projectNav {
    min-height: 20px;
    grid-auto-flow: column;
    grid-template-columns: 20% 20% 20% 20%;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px
}

.projectMenu,
.projectNav {
    display: grid;
    justify-content: center;
    color: #707070
}

.projectMenu {
    font-size: 1.5vw
}

.projectsNav {
    flex-direction: row
}

.projectsNav,
.projectsNav2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: calc(5px + 3vw) calc(80px + 2.3872vw);
    grid-auto-flow: row
}

.projectsNav2 {
    flex-direction: row-reverse
}

.projectsName {
    display: flex;
    justify-content: left
}

.projectsName,
.projectsName2 {
    width: 350px;
    -webkit-margin-before: 1em;
    margin-block-start: 1em
}

.projectsName2 {
    display: block;
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: right
}

.nucampImg1 {
    display: grid;
    width: 350px;
    height: 280px;
    grid-column-start: 2;
    grid-column-end: 5
}

.eastwestImg {
    display: grid;
    width: 350px;
    height: 233px;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1
}

.nucampImg2 {
    height: 280px;
    grid-column-start: 2;
    grid-column-end: 5
}

.hayloImg,
.nucampImg2 {
    width: 350px;
    display: grid
}

.hayloImg {
    height: 350px;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1
}

.navText {
    font-size: 25px;
    color: #707070
}

.navText:active,
.navText:focus,
.navText:hover,
.projectMenu:active,
.projectMenu:focus,
.projectMenu:hover {
    color: #000
}

.navText:after,
.projectMenu:after {
    content: "";
    display: block;
    position: center;
    bottom: 100%;
    height: 3px;
    width: 60%;
    background-color: #000;
    transform-origin: center top;
    transform: scaleX(0);
    transition: color .1s, transform .4s ease-out
}

.navText:focus:after,
.navText:hover:after,
.projectMenu:focus:after,
.projectMenu:hover:after {
    transform-origin: center top;
    transform: scale(1)
}

.noHover {
    pointer-events: none
}

.navContainer {
    display: block;
    color: #000;
    z-index: 1;
    justify-content: flex-end;
    position: absolute;
    right: calc(45.869px + 3.5808vw);
    top: calc(30.579px + 2.3872vw)
}

.active {
    border-bottom: 2px solid #000
}

.active,
.activeProject {
    color: #000
}

.contactPage {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center
}

.contactForm {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4
}

.Form {
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px
}

.contactButton {
    display: grid;
    grid-row-start: 8;
    grid-column-start: 3;
    justify-content: center
}

.submitButton {
    width: 100px;
    height: 50px
}

/*# sourceMappingURL=main.ca9a238d.chunk.css.map */